* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  width: fit-content;
}

ul {
  list-style: none;
  display: flex;
  margin-top: 20px;
}

li {
  text-align: center;
  display: block;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
  background-color: #f7f7f7;
  font-size: 1.5rem;
  font-weight: 800;
}

li:not(:last-child) {
    margin-right: 20px;
}

.icon {
  width: 95%;
  height: 95%;
  display: block;
  margin: auto;
  position: relative;
  top: 10px;
}

.i-html {
  background-image: url("0-sprite.png");
  background-position: 5% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.i-css {
  background-image: url("0-sprite.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.i-js {
  background-image: url("0-sprite.png");
  background-position: 95% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
